@page "/"
@using ScrumPokerTool.Shared
@inject NavigationManager NavigationManager

<h1>Welcome to Scrum Poker!</h1>

<button class="btn btn-primary" @onclick="CreateGame">Start a Game</button>

@code {
    private void CreateGame()
    {
        NavigationManager.NavigateTo($"scrum-poker/{GameHelper.GenerateGameId()}");
    }
}