@page "/scrum-poker"
@page "/scrum-poker/{GameId}"

<h1>Scrum Poker</h1>

<button class="btn btn-danger .btn-lg" @onclick='ExitGame'>@exitGameTxt Game</button>
<button class="btn btn-warning .btn-lg" @onclick='ResetGame' hidden="@(userId != gameOwner)">New Vote</button>

<Divider />

<Table Bordered="true" Narrow="true" Striped="true">
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>User Name</TableHeaderCell>
            <TableHeaderCell>Vote</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var player in players)
        {
            <TableRow>
                <TableRowCell>@player.UserName</TableRowCell>
                @if (voteComplete)
                {
                    <TableRowCell>@player.Vote</TableRowCell>
                }
                else
                {
                    <TableRowCell>@(player.Vote != null ?  "✔️" :  "❌")</TableRowCell>
                }
            </TableRow>
        }
    </TableBody>
</Table>
